<!DOCTYPE html>
<html xmlsn:th="http://www.thymeleaf.org">

<head>
	<title>Tambah Pegawai</title>	
	<object th:include="fragments/fragment :: css" th:remove="tag"></object>
	<object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body>
	<nav th:replace="fragments/fragment :: navbar"></nav>
	
	<div class="row">
		<div class ="col-md-6" >
			<div class="card" >
				<div class = "card-header" >Formulir Penambahan Pegawai</div>
				<div class="card-body">
					<form th:action="@{/pegawai/tambah}" th:object = ${pegawai} method = "POST">
					<input  type="hidden" th:field="*{id}"></input>
						<input  type="hidden" th:field="*{nip}"></input>
						<div class="form-group">
							<label class="control-label col-sm-2">Nama:</label>
							<div class="col-sm-10">
						    	<input type="text" class="form-control" name="nama" placeholder="Masukkan Nama">
						    </div>
						</div>
							
						<div class="form-group">
							<label class="control-label col-sm-4">Tempat Lahir:</label>
							<div class="col-sm-10">
						    	<input type="text" class="form-control" name="tempat_lahir" placeholder="Masukkan Tempat Lahir">
						    </div>
						</div>
							
						<div class="form-group">
							<label class="control-label col-sm-4">Tanggal Lahir:</label>
							<div class="col-sm-10">
						    	<input type="date" class="form-control" name="tanggallahir" placeholder="Masukkan Tanggal Lahir">
						    </div>
						</div>
							
						<div class="form-group">
							<label class="control-label col-sm-4">Tahun Masuk:</label>
							<div class="col-sm-10">
						    	<input type="text" class="form-control" name="tahun_masuk" placeholder="Masukkan Tahun Masuk">
						    </div>
						</div>
							  
						<div class="form-group">
						    <label class="control-label col-sm-2" >Provinsi:</label>
						    <div class="col-sm-10">
							    <select class="form-control" id = "provinsi"> 
							    	<a th:each="prov, iterationStatus : ${allProvinsi}">
								    	<option th:text = ${prov.nama} th:value = ${prov.id}></option>
							      	</a>
							    </select>
							</div>
						</div>
							  
						<div class="form-group">
						    <label class="control-label col-sm-2">Instansi:</label>
						    <div class="col-sm-10">
							    <select class="form-control" id="form-inst" name = "instansi">
							      <a th:each="instansi, iterationStatus : ${allInstansi}">
								      <option class ="instansi" th:text = "${instansi.nama} + ' - ' + ${instansi.provinsi.nama}" th:value = ${instansi.id}></option>
							      </a>
							    </select>
							</div>
						 </div>
							
						<div class="form-group">
						    <label class="control-label col-sm-2">Jabatan:</label>
						    <div class="col-sm-10">
					
						    	<div id = "kumpulanRowJabatan">
						    		<select name = "jabatanPegawai[0].jabatan" class="form-control" id = "jabatan"> 
						    			<option value = null>- Pilih Jabatan -</option>
								    	<a th:each="jabs, iterationStatus : ${allJabatan}">
									    	<option th:text = ${jabs.nama} th:value = ${jabs.id}></option>
								      	</a>
								    </select><br>
						    	</div>
								
							</div>
							<div value = "2" name="addRow" id= "buttonJabatan">Tambah Jabatan Lainnya</div>
						</div>						
						<button type="submit" class="btn btn-primary">Simpan</button>
					</div>
				</form>	
			</div>
		</div>
	</div>		
</body>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
<script src = "https://code.jquery.com/jquery-1.12.4.js"></script>
<script>
	$("#provinsi").change(function(){
		console.log("masuk");
		var data = $(this).val();
		$.ajax({
			headers:{	
				Accept : "application/json"
			},
			contentType: "application/json",
			type : "GET",
			data : {id:data},
			url : "/pegawai/cekInstansi",
			dataType : "json",
				success: function(json){
					var obj = JSON.stringify(json); 
					var objs = JSON.parse(obj);
					console.log(objs[0].nama);
					console.log ("disini");
					$(".instansi").remove();
					for (x in objs){
						console.log(objs[x].nama);
						$("#form-inst").append("<option class ='instansi' th:text ="+ "'"+ objs[x].nama+ "'" +" value = "+ "'"+objs[x].id+"'"+">" + objs[x].nama +"</option>");
						console.log("<option class ='instansi' name = 'instansi' th:text ="+ "'"+ objs[x].nama+ "'" +" th:value = "+ "'"+objs[x].id+"'"+">"+objs[x].nama+"</option>");
					}
				}
		})
	});
	
	$("#buttonJabatan").click(function(){
		console.log("masuk");
		var data = $(this).val();
		$.ajax({
			headers:{	
				Accept : "application/json"
			},
			contentType: "application/json",
			type : "GET",
			data : {id:data},
			url : "/pegawai/cekJabatan",
			dataType : "json",
				success: function(json){
					
					console.log ("disini");
					var jabatanCount = 0;
					var jab = JSON.stringify(json); 
					var jabatan = JSON.parse(jab);
					console.log(jabatan);
					jabatanCount++;
	                var selectHtml = '<select class="form-control" id="jabatanPegawai" name="jabatanPegawai['+ jabatanCount +'].jabatan">\n';

	                var optionsHtml = '<option value=null>- Pilih Jabatan -</option>';

	                $.each( jabatan, function(i, jabatan ) {
	                    optionsHtml += '<option value=' + jabatan.id + '>' + jabatan.nama + '</option>';
	                });

	                var closingSelectHtml = '</select><br>';

	                $( "#kumpulanRowJabatan" ).append(selectHtml + optionsHtml + closingSelectHtml);
				}
		})
	});
	

	
	
	//$(document).ready( function () {
		//$("#buttonJabatan").click(function(){
			//console.log ("haha");
			//console.log(${allJabatan});
			//$(".tambahRowJabatan").append("<select name = 'jabatanPegawai' class='form-control' id = 'jabatan'> <a th:each='jabs, iterationStatus : ${allJabatan}'>  <option th:text = ${jabs.nama} value = ${jabs.id}></option> </a>  <th><button class='btn btn-primary' type='submit' name='addRow' id= 'buttonJabatan'>Tambah Jabatan Lainnya</button></th> </select>");
		//});
	//} );
	
	
</script>

